<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.envisioncn.it.super_sonic.showcase.evaluation.mapper.EvaluationPeriodMapper">

    <resultMap id="EvaluationPeriod" type="com.envisioncn.it.super_sonic.showcase.evaluation.entity.EvaluationPeriod" >
		<id property="id" column="id" />
		<result property="periodId" column="period_id" />
		<result property="periodDateFrom" column="period_date_from" />
		<result property="periodDateTo" column="period_date_to" />
		<result property="des" column="des" />
		<result property="cts" column="cts" />
	</resultMap>
	
	<select id="getEvaluationPeriod" resultMap="EvaluationPeriod" >
			SELECT * FROM evaluation_period 
       		WHERE period_id=#{periodId} 
       		ORDER BY id DESC
	</select>
	
</mapper>